<div class="main-card-offer">
  <% if offer.premium %>
    <p class="main-card-offer-tag">Premium</p>  
  <% end%>
  <h1>
    <%= offer.advertiser_name%>
  </h1>
  <a href="<%= offer.url %>">Shop Now</a>
</div>