<h1>New Offer</h1>

<%= form_with model: @offer, class: "nifty_form" do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <br>
  <%= f.submit "Enviar", class: "btn btn-primary" %>
<% end %>



